*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
font-family: "Cairo",sans-serif;
color: #fff;
background: linear-gradient(132deg,#eef3ff,#f8faff);
width: 100%;
min-height: 100vh;
overflow-x: hidden;
margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;
}
body.dark {
    background: #0a2b49;
    color: white;
}

body.dark .card {
    background: #102d68;
    border-color: rgba(255,255,255,.1);
}

body.dark .card-title {
    color: white;
}

body.dark .info {
    border-color: rgba(255,255,255,.15);
}

body.dark .info span {
    color: #cbd5e1;
}

body.dark .info strong {
    color: white;
}

body.dark .quick {
    background: #172554;
    color: white;
    border-color: rgba(255,255,255,.1);
}

body.dark .result-box {
    background: #172554;
    border-color: rgba(255,255,255,.1);
    color: white;
}
body.dark header{

   background: #202d58;





}

header button{
background: transparent;
border: none;
cursor: pointer;
}




/* header */
/* =========================
   HEADER / NAVBAR
========================= */

header {
    width: 100%;
    min-height: 75px;
    padding: 10px 30px;
position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 15px;

    background: #3053c5;
    border-radius: 10px;
box-sizing: border-box;
    direction: rtl;
}



/* LOGO */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    white-space: nowrap;
}

.logo img {
    width:  60px;
    height: 60px;
    object-fit: cover;
}



/* NAVBAR */

.navbar {
            padding: 6px 16px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            gap: 10px;
}

.navbar a,
.navbar button {
    width: 45px;
    height: 45px;

    display: grid;
    place-items: center;

    border: none;
    outline: none;

    border-radius: 12px;

    background: rgb(130, 219, 41);
    color: white;

    cursor: pointer;

    font-size: 18px;

    text-decoration: none;

    transition: .3s;
}

.navbar a:hover,
.navbar button:hover {
    background: green;
    transform: translateY(-4px);
}


/* زر الوضع الداكن */

#darkBtn {
    font-family: inherit;
}


/* عنوان الصفحة */

.page-title {
    display: flex;
    align-items: center;
    gap: 10px;

    color: white;

    font-size: clamp(6px,5vw,19px);
    font-weight: 600;

    white-space: nowrap;
}

.page-title i {
    color: rgb(130, 219, 41);
    font-size: clamp(10px,2vw,22px);
}
.container {

    width: min(1100px, 92%);

    margin: 30px auto;

}


/* =========================
   HERO
========================= */

.hero {

    height: 280px;

    border-radius: 22px;

    overflow: hidden;

    position: relative;

    background-image:
        url("campus.jpg");

    background-size: cover;

    background-position: center;

    box-shadow:
        0 15px 35px rgba(15, 23, 42, .18);

    margin-bottom: 25px;
}


.hero-overlay {

    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            90deg,
            rgba(7, 27, 73, .95),
            rgba(7, 27, 73, .55),
            rgba(7, 27, 73, .1)
        );
}
.hero-overlay img{
object-fit: cover;



}

.hero-content {

    position: relative;

    z-index: 2;

    color: white;

    height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: center;

    padding: 45px;

}


.hero-icon {

    font-size: 35px;

    margin-bottom: 15px;

    color: #93c5fd;
}


.hero h1 {

    font-size: clamp(25px, 4vw, 40px);

    line-height: 1.5;

    margin-bottom: 10px;
}


.hero p {

    font-size: 17px;

    color: #dbeafe;
}


/* =========================
   CARD
========================= */

.card {

    background: rgba(255,255,255,.9);

    border-radius: 20px;

    padding: 25px;

    margin-bottom: 22px;

    box-shadow:
        0 8px 30px rgba(15, 23, 42, .08);

    border: 1px solid rgba(255,255,255,.7);

    backdrop-filter: blur(10px);
}


.card-title {

    display: flex;

    align-items: center;

    gap: 12px;

    margin-bottom: 20px;

    color: #102d68;
}


.card-title i {

    width: 42px;

    height: 42px;

    display: grid;

    place-items: center;

    border-radius: 12px;

    background: #e8f0ff;

    color: #2563eb;
}


.card-title h2 {

    font-size: 20px;
}


/* =========================
   STUDENT GRID
========================= */

.student-grid {

    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 0 30px;
}


.info {

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 20px;

    padding: 17px 5px;

    border-bottom:
        1px solid #e5e7eb;
}


.info span {

    display: flex;

    align-items: center;

    gap: 9px;

    color: #64748b;

    font-size: 14px;
}


.info span i {

    color: #2563eb;

    width: 20px;

    text-align: center;
}


.info strong {

    color: #172554;

    font-size: 14px;

    text-align: left;
}


.gpa {

    color: #2563eb !important;

    font-size: 17px !important;
}


/* =========================
   RESULT
========================= */

.result-box {

    display: flex;

    align-items: center;

    gap: 15px;

    background:
        linear-gradient(
            135deg,
            #eef4ff,
            #f8fbff
        );

    border: 1px solid #dbeafe;

    border-radius: 14px;

    padding: 18px;

    color: #1e3a8a;

    transition: .3s;
}


.result-box i:first-child {

    color: #2563eb;

    font-size: 20px;
}


.result-box span {

    flex: 1;

    font-weight: 600;

    font-size: 14px;
}


.result-box i:last-child {

    width: 35px;

    height: 35px;

    display: grid;

    place-items: center;

    background: #2563eb;

    color: white;

    border-radius: 50%;
}


.result-box:hover {

    transform: translateX(-5px);

    box-shadow:
        0 8px 20px rgba(37,99,235,.15);
}


/* =========================
   QUICK LINKS
========================= */

.quick-links {

    display: grid;

    grid-template-columns:
        repeat(5, 1fr);

    gap: 15px;
}


.quick {

    text-decoration: none;

    color: #172554;

    background: #f8fafc;

    border: 1px solid #e5e7eb;

    border-radius: 16px;

    padding: 20px 10px;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 10px;

    transition: .3s;
}


.quick i {

    width: 45px;

    height: 45px;

    display: grid;

    place-items: center;

    border-radius: 13px;

    background: #eaf1ff;

    color: #2563eb;

    font-size: 20px;
}


.quick span {

    font-size: 13px;

    font-weight: 600;
}


.quick:hover {

    transform: translateY(-6px);

    background: white;

    box-shadow:
        0 12px 25px rgba(15,23,42,.12);

    border-color: #bfdbfe;
}


/* =========================
   FOOTER
========================= */

footer {

    background:
        linear-gradient(
            135deg,
            #071b49,
            #102d68
        );

    color: #cbd5e1;

    min-height: 80px;

    padding: 20px 6%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 20px;

    font-size: 14px;
}


footer div {

    display: flex;

    gap: 11px;
}


footer i {

    width: 35px;

    height: 35px;

    display: grid;

    place-items: center;

    background: rgba(255,255,255,.1);

    border-radius: 50%;

    transition: .3s;
}


footer i:hover {

    background: #2563eb;

    color: white;

}


/* =========================
   RESPONSIVE
========================= */


/* =========================
   RESPONSIVE NAVBAR
========================= */



@media (max-width: 800px) {

    header {
        padding: 10px 20px;
        gap: 10px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

  
    .page-title i {
        font-size: 20px;
    }

    .navbar {
        gap: 5px;
    }

    .navbar a,
    .navbar button {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

  

 

    .container {

        width: 94%;

        margin: 20px auto;

    }


    .hero {

        height: 260px;

    }


    .hero-content {

        padding: 25px;

    }


    .hero h1 {

        font-size: 26px;

    }


    .student-grid {

        grid-template-columns: 1fr;

    }


    .quick-links {

        grid-template-columns:
            repeat(2, 1fr);

    }

}


@media (max-width: 480px) {

    header {
        min-height: 70px;
        padding: 8px 12px;
        gap: 5px;
    }

    .logo {
        gap: 5px;
    }

    .logo img {
        width: 38px;
        height: 38px;
    }

    .navbar {
        gap: 5px;
    }

    .navbar a,
    .navbar button {
        width: 25px;
        height: 25px;
        border-radius: 9px;
        font-size: 14px;
    }

    .page-title {
        display: flex;
        align-items: center;
    }



    .hero {

        height: 240px;

        border-radius: 16px;

    }


    .hero h1 {

        font-size: 22px;

    }


    .hero p {

        font-size: 13px;

    }


    .card {

        padding: 18px;

        border-radius: 16px;

    }


    .info {

        align-items: flex-start;

        flex-direction: column;

        gap: 5px;

    }


    .info strong {

        padding-right: 29px;

    }


    .quick-links {

        grid-template-columns: 1fr 1fr;

    }


    footer {

        flex-direction: column;

        text-align: center;

    }

}@media (max-width:350px){



.logo img{
width: 20px;
height: 20px;


}












}